<div class="col-xs-12">
  <div class="text-center">
    <h2><%= post.title %></h2>
    <h6><%= post.created_at.strftime('%d %b, %Y') %></h6>
    <h6><%= render post.tags %></h6>
  </div>

  <div><%=  raw post.body.truncate(50) %></div>

  <div class="text-center">
    <%= link_to t('extras.more'), post_path(post) %>
  </div>

  <% if admin_signed_in? %>
    <%= link_to t('forms.buttons.show'), post_path(post), class: "btn btn-primary" %>
    <%= link_to t('forms.buttons.edit'), edit_post_path(post), class: "btn btn-default" %>
    <%= link_to t('forms.buttons.delete'), post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
  <% end %>

  <hr>

</div>
